{% extends "base.html" %}{% load static %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="/static/css/adicionar_cliente.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/producao_react/main.affb6591.css"/>

{% endblock %}


{% block loggedin %}
  <li><a>Usuário: {{ request.user.username }}</a></li>
  <li><a href="/logout" style="text-decoration: underline;">Sair</a></li>
{% endblock %}

{% block content %}
  <div>
    <div id="adicionar_message"><h3>Adicionar novo fornecedor</h3></div>
    <form onsubmit="return validateForm()">
      <div class="my_menu2">
        <div class="long-field input-group">
          <p>Nome Fantasia:</p>
          <input id="nome" type="text" class="field_sizing form-control" placeholder="Nome Fantasia" aria-describedby="basic-addon1" name="nome">
          <div class="help-block with-errors"></div>
        </div>
      </div>
      <div class="my_menu2">
        <div class="long-field input-group">
          <p>Razão Social:</p>
          <input id="razao_social" type="text" class="field_sizing form-control" placeholder="Razão Social" aria-describedby="basic-addon1" name="razao_social">
          <div class="help-block with-errors"></div>
        </div>
      </div>
      <div class="my_menu2">
        <div class="long-field input-group">
          <p>Contato:</p>
          <input id="contato" type="text" class="field_sizing form-control" placeholder="Contato" aria-describedby="basic-addon1" name="contato">
        </div>
      </div>
      <div class="my_menu2">
        <div class="input-group">
          <p>Telefone:</p>
          <input id="telefone" style="width:140px;" type="text" class="field_sizing form-control" placeholder="Telefone" aria-describedby="basic-addon1" name="telefone" onkeypress='return event.charCode >= 48 && event.charCode <= 57' onchange="brPhoneStyle(event)">
        </div>
        <div class="input-group">
          <p>Whatsapp:</p>
          <input id="whatsapp" style="width:140px;" type="text" class="field_sizing form-control" placeholder="Whatsapp" aria-describedby="basic-addon1" name="whatsapp" onkeypress='return event.charCode >= 48 && event.charCode <= 57' onchange="brPhoneStyle(event)">
        </div>
      </div>
      <div class="my_menu2">
        <div class="input-group">
          <p>CNPJ:</p>
          <input id="cnpj" style="width:160px;" type="text" class="field_sizing form-control" placeholder="CNPJ" onkeypress='return event.charCode >= 48 && event.charCode <= 57' aria-describedby="basic-addon1" name="cnpj">
        </div>
        <div class="radio_menu input-group">
          <p style="margin-bottom: 15px;">Tipo:</p>
          <label class="radio-inline"><input type="radio" name="tipo" value="PF">PF</label>
          <label class="radio-inline"><input type="radio" name="tipo" value="PJ">PJ</label>
        </div>
      </div>
      <div class="my_menu2">
        <div class="input-group">
          <p>Cidade:</p>
          <input id="cidade" type="text" class="field_sizing form-control" placeholder="Cidade" value="Colatina" aria-describedby="basic-addon1" name="cidade">
        </div>
        <div class="input-group">
          <p>Estado:</p>
          <input id="estado" type="text" class="field_sizing form-control" placeholder="Estado" aria-describedby="basic-addon1" name="estado">
        </div>
      </div>
      <div class="my_menu2">
        <div class="long-field input-group">
          <p>Endereço:</p>
          <input id="endereco" type="text" class="field_sizing form-control" placeholder="Endereço" aria-describedby="basic-addon1" name="endereco">
        </div>
      </div>
      <div class="my_menu2">
        <button style="margin: 5px 0 5px 0;" type="submit" class="btn btn-danger btn-block" name="button" value="add">Adicionar novo cliente</button>
      </div>
    </form>
  </div>
  {#  MODAL  #}
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Adicionar Cliente</h4>
          </div>
          <div class="modal-body">
            Deseja adicionar o cliente abaixo?<br><br>
            Nome: <span id="nome_modal"></span><br>
            Cidade: <span id="cidade_modal"></span><br>
            Estado: <span id="estado_modal"></span><br>
            Tipo: <span id="tipo_modal"></span>
          </div>
          <div class="modal-footer">
            <form id="modal_form">
              <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="rejectModal()" value="no">Nao</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="confirmModal()" value="yes">Sim</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  {# END OF MODAL   #}
  {# placeholder for react results #}
  <div id="result_list"></div>
{% endblock %}


{% block script %}
  <script src="/static/js/adicionar_fornecedor_react/main.6e82767e.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.js"></script>
  <script>
    function brPhoneStyle(event){
      var input = document.getElementById(event.target.id).value.replace(/\D/g, "");
      if(input.length === 10){
        document.getElementById(event.target.id).value = "(" + input.slice(0,2) + ")" + input.slice(2,6) + "-" + input.slice(-4);
      }
      else if(input.length === 11){
        document.getElementById(event.target.id).value = "(" + input.slice(0,2) + ")" + input.slice(2,7) + "-" + input.slice(-4);
      }else{
        document.getElementById(event.target.id).value = "";
      }
    }

    function validateForm() {
      var nome = document.getElementById("nome").value;
      var cidade = document.getElementById("cidade").value;
      var estado = document.getElementById("estado").value;
      try{
        var tipo = document.querySelector('input[name="tipo"]:checked').value;
      }
      catch (e){
        var tipo = "";
      }
      if (nome && cidade && estado && tipo){
        document.getElementById("nome_modal").innerHTML = nome;
        document.getElementById("cidade_modal").innerHTML = cidade;
        document.getElementById("estado_modal").innerHTML = estado;
        document.getElementById("tipo_modal").innerHTML = tipo;
        $("#myModal").modal();
      }
      else {
        store.dispatch(updateFiltered("add"));
      }
      return false;
    }

    function confirmModal() {
      var data = {};
      data.nome = document.getElementById("nome").value;
      data.razao_social = document.getElementById("razao_social").value;
      data.contato = document.getElementById("contato").value;
      data.telefone = document.getElementById("telefone").value;
      data.whatsapp = document.getElementById("whatsapp").value;
      data.cnpj = document.getElementById("cnpj").value;
      data.estado = document.getElementById("estado").value;
      data.cidade = document.getElementById("cidade").value;
      data.endereco = document.getElementById("endereco").value;
      data.tipo = document.querySelector('input[name="tipo"]:checked').value;
      document.getElementById("nome").value = "";
      document.getElementById("razao_social").value = "";
      document.getElementById("telefone").value = "";
      document.getElementById("contato").value = "";
      document.getElementById("whatsapp").value = "";
      document.getElementById("cnpj").value = "";
      document.getElementById("cidade").value = "Colatina";
      document.getElementById("endereco").value = "";
      document.getElementById("estado").value = "";
      var radio = document.getElementsByName("tipo");
      radio.forEach(function(item){item.checked = false});
      axios.post("/fornecedor/add/", data)
        .then(function(result){
          sessionStorage.setItem("supplier_id", result.data.id);
          sessionStorage.setItem("supplier_name", result.data.nome);
          store.dispatch(updateFiltered(result.data.message));
        })
        .catch(function(error){
          store.dispatch(updateFiltered("fail"));
        });
    }

    function rejectModal() {
      modal_check = false;
      document.getElementById("nome").value = "";
      document.getElementById("razao_social").value = "";
      document.getElementById("telefone").value = "";
      document.getElementById("contato").value = "";
      document.getElementById("whatsapp").value = "";
      document.getElementById("cnpj").value = "";
      document.getElementById("cidade").value = "Colatina";
      document.getElementById("endereco").value = "";
      document.getElementById("estado").value = "";
      var radio = document.getElementsByName("tipo");
      radio.forEach(function(item){item.checked = false});
    }
  </script>
{% endblock %}
