{% extends "base.html" %}{% load static %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="/static/css/dist/css/bootstrap-select.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/adicionar_cliente.css" />

{% endblock %}


{% block loggedin %}
  <li><a>Usuário: {{ request.user.username }}</a></li>
  <li><a href="/logout" style="text-decoration: underline;">Sair</a></li>
{% endblock %}

{% block content %}
  <div class="my_menu">
    <div id="adicionar_message"><h3>Adicionar novo cliente</h3></div>
    {% if success != 2 %}
    <form id="novo_cliente_form" action="./" method="POST">
    {% csrf_token %}
      <div class="my_menu2">
        <div class="long-field input-group">
          <p>Nome Completo:</p>
          <input type="text" class="field_sizing form-control" placeholder="Nome Completo" aria-describedby="basic-addon1" name="nome">
        </div>
      </div>
      <div class="my_menu2">
        <div class="long-field input-group">
          <p>Referência:</p>
          <input type="text" class="field_sizing form-control" placeholder="Referência" aria-describedby="basic-addon1" name="referencia">
        </div>
      </div>
      <div class="my_menu2">
        <div class="input-group">
          <p>Telefone:</p>
          <input id="telefone" style="width:140px;" type="text" class="field_sizing form-control" placeholder="Telefone" aria-describedby="basic-addon1" name="telefone" onkeypress='return event.charCode >= 48 && event.charCode <= 57' onchange="brPhoneStyle(event)">
        </div>
        <div class="radio_menu input-group">
          <p style="margin-bottom: 15px;">Tipo:</p>
          <label class="radio-inline"><input type="radio" name="tipo" value="PF">PF</label>
          <label class="radio-inline"><input type="radio" name="tipo" value="PJ">PJ</label>
        </div>
      </div>
      <div class="my_menu2">
        <div class="dropdown_selection">
          <p>Bairro:</p>
          <select id="bairro" class="selectpicker" title="Bairro" name="bairro" data-live-search="true" data-width="120px" data-size="5">
            <option>Outro</option>
            <option>Acampamento</option>
            <option>Adélia Giuberti</option>
            <option>Aeroporto</option>
            <option>Alto Vila Nova</option>
            <option>Aparecida</option>
            <option>Ayrton Senna</option>
            <option>Barbados</option>
            <option>Beira Rio</option>
            <option>Bela Vista</option>
            <option>Carlos Germano Naumann</option>
            <option>Centro</option>
            <option>Colatina Velha</option>
            <option>Columbia</option>
            <option>Córrego da Ponte</option>
            <option>Córrego do Ouro</option>
            <option>David Torezani</option>
            <option>Duas Vendinhas</option>
            <option>Esplanada</option>
            <option>Fazenda Vitali</option>
            <option>Honório Fraga</option>
            <option>IBC</option>
            <option>Jardim Planalto</option>
            <option>José de Anchieta</option>
            <option>Lacê</option>
            <option>Ladeira Cristo Rei</option>
            <option>Maria das Graças</option>
            <option>Maria Ismênia</option>
            <option>Mario Giurizatto</option>
            <option>Moacir Brotas</option>
            <option>Noemia Vitali</option>
            <option>Olívio Zanotelli</option>
            <option>Operário</option>
            <option>Recanto dos Pássaros</option>
            <option>Residencial Nobre</option>
            <option>Riviera</option>
            <option>Santa Cecília</option>
            <option>Santa Mônica</option>
            <option>Santa Terezinha</option>
            <option>Santo Antonio</option>
            <option>São Marcos</option>
            <option>São Silvano</option>
            <option>São Vicente</option>
            <option>São Zenon</option>
            <option>Vila Lenira</option>
            <option>Vila Nova</option>
            <option>Vila Verde</option>
          </select>
        </div>
        <div class="input-group">
          <p>Cidade:</p>
          <input type="text" class="field_sizing form-control" placeholder="Cidade" value="Colatina" aria-describedby="basic-addon1" name="cidade">
        </div>
      </div>
      <div class="my_menu2">
        <div class="long-field input-group">
          <p>Endereço:</p>
          <input type="text" class="field_sizing form-control" placeholder="Endereço" aria-describedby="basic-addon1" name="endereco">
        </div>
      </div>
      <div class="my_menu2">
        <button style="margin: 5px 0 5px 0;" type="submit" class="btn btn-danger btn-block" name="button" value="add">Adicionar novo cliente</button>
      </div>
    </form>
    {% endif %}
  </div>
  {% if success == 2 %}
    <div class="my_menu2">
      <div style="margin: 10px 0 10px 0;" class="alert alert-success" role="alert">Cliente adicionado com sucesso</div>
    </div>
    <div class="my_menu2">
      <form action="/novo_pedido/" method="POST">
        {% csrf_token %}
        <button type="submit" style="margin: 5px 0 5px 0;" class="btn btn-danger btn-block">Criar pedido</button>
        <input type="hidden" name="cliente" value={{ id | default:"" }}>
      </form>
    </div>
    <div class="my_menu2">
      <a href="/adicionar_cliente"><button style="margin: 5px 0 5px 0;" class="btn btn-primary btn-block">Adicionar outro novo cliente</button></a>
    </div>
  {% elif success == 3 %}
    <div class="my_menu2">
      <div class="alert alert-danger">Insira nome completo e cidade</div>
    </div>
  {% elif success == 4 %}
    <div class="my_menu2">
      <div class="alert alert-danger">Cliente já cadastrado</div>
    </div>
  {% endif %}
{% endblock %}


{% block script %}
  <script src="/static/js/js/bootstrap-select.min.js"></script>
  <script>
    function brPhoneStyle(event){
      var input = document.getElementById("telefone").value.replace(/\D/g, "");
      console.log(input);
      if(input.length === 10){
        document.getElementById("telefone").value = "(" + input.slice(0,2) + ")" + input.slice(2,6) + "-" + input.slice(-4);
      }
      else if(input.length === 11){
        document.getElementById("telefone").value = "(" + input.slice(0,2) + ")" + input.slice(2,7) + "-" + input.slice(-4);
      }else{
        document.getElementById("telefone").value = "";
      }
    }
  </script>
{% endblock %}
