{% extends "base.html" %}{% load static %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="/static/css/adicionar_cliente.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/escolher_cliente_react/main.b2e8740a.css"/>

{% endblock %}


{% block loggedin %}
  <li><a>Usuário: {{ request.user.username }}</a></li>
  <li><a href="/logout" style="text-decoration: underline;">Sair</a></li>
{% endblock %}

{% block content %}
  <div class="my_menu">
    <div id="adicionar_message"><h3>Escolha o Cliente</h3></div>
  </div>
  <form onsubmit="return validateForm()">
    {% csrf_token %}
    <div style="text-align: center;" class="my_menu2">
      <h4>Insira nome e/ou telefone:</h4>
    </div>
    <div class="my_menu2">
      <div class="long-field input-group">
        <p>Nome:</p>
        <input id="nome" type="text" class="field_sizing form-control" placeholder="Nome" aria-describedby="basic-addon1" name="nome">
      </div>
    </div>
    <div class="my_menu2">
      <div style="width:300px;" class="input-group">
        <p>Telefone:</p>
        <div style="display: flex; justify-content: space-between;">
          <input id="telefone" style="width:140px;" type="text" class="field_sizing form-control" placeholder="Telefone" aria-describedby="basic-addon1" name="telefone" onkeypress='return event.charCode >= 48 && event.charCode <= 57' onchange="brPhoneStyle(event)">
          <button style="width: 120px;" type="submit" class="btn btn-primary" name="button" value="filter">Procurar</button>
        </div>
      </div>
    </div>
  </form>
  {# placeholder for react results #}
  <div id="result_list"></div>
{% endblock %}


{% block script %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.js"></script>
  <script src="/static/js/escolher_cliente_react/main.245cd887.js"></script>
  <script>
    // creates an object with the types as keys and products as values

    function validateForm() {
      var check = document.activeElement.value;
      if (check === "filter"){
        var data = {};
        data.nome = document.getElementById("nome").value;
        data.telefone = document.getElementById("telefone").value;
        if (data.nome || data.telefone){
          axios.post("/escolher_cliente/filter/", data)
            .then(function(result){
              try {
                if(result.data === "empty"){
                  store.dispatch(updateFiltered([], "empty"));
                }
                else {
                  store.dispatch(updateFiltered(result.data, "list"));
                }
              } catch (e) {
                console.error(e);
              }

            })
            .catch(function(error){
{#              store.dispatch(updateFiltered([], "fail"));#}
              console.log(error);
            })
        }
        else{
          store.dispatch(updateFiltered([], "add"));
        }
      }
      return false;
    }

    function brPhoneStyle(event){
      var input = document.getElementById("telefone").value.replace(/\D/g, "");
      if(input.length === 10){
        document.getElementById("telefone").value = "(" + input.slice(0,2) + ")" + input.slice(2,6) + "-" + input.slice(-4);
      }
      else if(input.length === 11){
        document.getElementById("telefone").value = "(" + input.slice(0,2) + ")" + input.slice(2,7) + "-" + input.slice(-4);
      }else{
        document.getElementById("telefone").value = "";
      }
    }




  </script>
{% endblock %}
