{% extends "base.html" %}{% load static %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="/static/css/adicionar_cliente.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/escolher_cliente_react/main.b2e8740a.css"/>

{% endblock %}


{% block loggedin %}
  <li><a>Usuário: {{ request.user.username }}</a></li>
  <li><a href="/logout" style="text-decoration: underline;">Sair</a></li>
{% endblock %}

{% block content %}
  <div class="my_menu">
    <div id="adicionar_message"><h3>Escolha o Fornecedor</h3></div>
  </div>
  <form onsubmit="return validateForm()">
    {% csrf_token %}
    <div style="text-align: center;" class="my_menu2">
      <h4>Insira nome e/ou telefone:</h4>
    </div>
    <div class="my_menu2">
      <div class="long-field input-group">
        <p>Nome:</p>
        <input id="nome" type="text" class="field_sizing form-control" placeholder="Nome" aria-describedby="basic-addon1" name="nome">
      </div>
    </div>
    <div class="my_menu2">
      <div style="width:300px;" class="input-group">
        <p>Contato:</p>
        <div style="display: flex; justify-content: space-between;">
          <input id="contato" style="width:140px;" type="text" class="field_sizing form-control" placeholder="Contato" aria-describedby="basic-addon1" name="contato">
          <button style="width: 120px;" type="submit" class="btn btn-primary" name="button" value="filter">Procurar</button>
        </div>
      </div>
    </div>
  </form>
  {# placeholder for react results #}
  <div id="result_list"></div>
{% endblock %}


{% block script %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.js"></script>
  <script src="/static/js/escolher_fornecedor_react/main.eb216387.js"></script>
  <script>

    function validateForm() {
      var data = {};
      data.nome = document.getElementById("nome").value;
      data.contato = document.getElementById("contato").value;
      if (data.nome || data.contato){
        document.getElementById("nome").value = "";
        document.getElementById("contato").value = "";
        axios.post("/escolher_fornecedor/filter/", data)
          .then(function(result){
            try {
              if(result.data === "empty"){
                console.log("empty");
                store.dispatch(updateFiltered([], "empty"));
              }
              else {
                console.log(result.data);
                store.dispatch(updateFiltered(result.data, "list"));
              }
            } catch (e) {
              console.error(e);
            }

          })
          .catch(function(error){
{#              store.dispatch(updateFiltered([], "fail"));#}
            console.log(error);
          })
      }
      return false;
    }


  </script>
{% endblock %}
