{% extends "base.html" %}{% load static %}

{% block css %}

  <link rel="stylesheet" type="text/css" href="/static/css/dist/css_datepicker/bootstrap-datepicker.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/dist/css/bootstrap-select.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/estoque.css" />

{% endblock %}


{% block loggedin %}
  <li><a>Usuário: {{ request.user.username }}</a></li>
  <li><a href="/logout" style="text-decoration: underline;">Sair</a></li>
{% endblock %}

{% block content %}
  <div class="my_menu">
    <form id="stock_form" action="./" onsubmit="return validateForm()" method="">
      {% csrf_token %}
      <div class="my_menu2">
        <div>
          <p>Tipo:</p>
          <div style="margin-bottom: 5px;">
            <select id="ingredient_type" class="selectpicker" title="Selecione o tipo" onchange="getType(event)" name="tipo">
              {% for type in types %}
                <option>{{ type.tipo }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div>
          <p>Ingrediente:</p>
          <div style="margin-bottom: 5px;">
            <select id="ingredient_list" class="selectpicker" title="Selecione o ingrediente" name="ingrediente" onchange="getUnit(event)"> <!-- data-size="x"-->
            </select>
          </div>
        </div>
        <div>
          <p>Quantidade:</p>
          <div>
            <div id="quantidade" style="margin-bottom: 5px;" class="last_production_line input-group">
              <input id="quantidade_value" type="text" class="field_sizing form-control" placeholder="Quantidade" aria-describedby="basic-addon1" name="quantidade">
              <span style="display:flex; align-items: center; width:100px;" id="unidade"  class="input-group-addon" id="basic-addon2"></span>
            </div>
          </div>
        </div>
        <div>
          <p>Valor:</p>
          <div>
            <div style="margin-bottom: 5px;" class="last_production_line input-group">
              <input id="valor" type="text" class="field_sizing form-control" placeholder="Valor" aria-describedby="basic-addon1" name="valor">
              <button type="submit" class="btn btn-danger" name="button" value="add">Adicionar</button>
            </div>
          </div>
        </div>
        <div>
          <p>Filtro:</p>
          <div>
            <div style="width: 200px; margin-bottom: 5px;" class="last_production_line input-group">
              <input id="date_field" class="field_sizing form-control datepicker" data-date-format="mm/dd/yyyy" placeholder="Data" data-date-autoclose=true data-date-today-highlight=true name="data_field">
              <button type="submit" class="btn btn-primary" name="button" value="filter">Filtrar</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    {#  MODAL  #}
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Confirmar Produção</h4>
          </div>
          <div class="modal-body">
            Deseja adicionar o ingrediente abaixo?<br><br>
            Ingrediente: <span id="ingrediente_modal"></span><br>
            Quantidade: <span id="quantidade_modal"></span><br>
            Valor: R$ <span id="valor_modal"></span>
          </div>
          <div class="modal-footer">
            <form id="modal_form">
              <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="rejectModal()" value="no">Nao</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="confirmModal()" value="yes">Sim</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    {# END OF MODAL   #}
  </div>
  {% if success == 2 %}
  <div class="message">
    <div class="alert alert-success" role="alert">Ingrediente adicionado com sucesso</div>
  </div>
  {% elif success == 3 %}
  <div class="message">
    <div class="alert alert-danger" role="alert">Selecione tipo, ingrediente, quantidade e valor</div>
  </div>
  {% elif success == 4 %}
  <div>
    <form name="toDelete" method="POST" onsubmit="return false;">
      {% for i in filtered %}
          <div class="filtered">
            <div class="alert alert-info" role="alert">
              <div style="display: flex;">
                <div class="listing">
                  <p><strong>Ingrediente:</strong></p>
                  <p>{{ i.nome }}</p>
                </div>
                <div class="listing">
                  <p><strong>Estoque:</strong></p>
                  <p>{{ i.estoque }}</p>
                </div>
                <div class="listing">
                  <p><strong>Última compra:</strong></p>
                  <p>{{ i.ultima_compra}}<button type="submit" class="delete_button glyphicon glyphicon-remove" aria-hidden="true" value={{ i.id }} onclick="removeItem(event)"></button></p>
                </div>
              </div>
            </div>
          </div>
      {% endfor %}
    </form>
  </div>
  {% elif success == 5 %}
    <div class="message">
        <div class="alert alert-danger" role="alert">Nenhum produto encontrado</div>
    </div>
  {% endif %}

{% endblock %}


{% block script %}
  <script src="/static/js/js/bootstrap-select.min.js"></script>
  <script src="/static/js/js_datepicker/bootstrap-datepicker.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.js"></script>
  <script>

{#      $("#valor").autoNumeric("init", {aSep: '.', aDec: ',', aSign: 'R$'}); data-a-sep="." data-a-dec="," data-a-sign="R$"#}

    $('.datepicker').datepicker();
    // creates an object with the types as keys and products as values
    var ingredient_list = {
      // takes keys and values from the
      {% for tipo, query in ingredients.items %}
        "{{ tipo }}": [
          {% for ingredient in query %}
            '{{ ingredient.nome }}',
          {% endfor %}
        ],
      {% endfor %}
    };

    var nome_unidade = {
      //
      {% for query in ingredients.values %}
        {% for ingredient in query %}
          "{{ ingredient.nome }}":
          '{{ ingredient.unidade }}',
        {% endfor %}
      {% endfor %}
    };

    function getType(event) {
      $(document).ready(function (){
        $("#ingredient_list").children().remove();
        $("#unidade").text(" ");
        var type = ingredient_list[$("#ingredient_type").val()].sort();
        for(var i = 0; i < type.length; i++){
          $("#ingredient_list").append("<option>" + type[i] + "</option>");
          $('.selectpicker').selectpicker('refresh');
        }
      });
    }

    function validateForm() {
      var check = document.activeElement.value;
      if (check === "add"){
        var qtd = document.getElementById("quantidade_value").value;
        var igt = document.getElementById("ingredient_list").value;
        var vlr = document.getElementById("valor").value;
        if (qtd && igt && vlr){
          $("#stock_form").attr("method", "POST");
          document.getElementById("quantidade_modal").innerHTML = qtd;
          document.getElementById("ingrediente_modal").innerHTML = igt;
          document.getElementById("valor_modal").innerHTML = vlr;
          $("#myModal").modal();
        }
{#          else statement to be included here to display the failure to complete all fields#}
      }
      else if (check === "filter"){
        $("#stock_form").attr("method", "GET");
      }
      return false;
    }

    function confirmModal() {
      data = {};
      data["ingrediente"] = document.getElementById("ingredient_list").value;
      data["quantidade"] = document.getElementById("quantidade_value").value;
      data["valor"] = document.getElementById("valor").value;
      $('.selectpicker').selectpicker('val', '');
      document.getElementById("quantidade_value").value = "";
      document.getElementById("valor").value = "";
      axios.post("/estoque/add/", data)
        .then(function(result){
          if(result.data === 3){
            console.log("not added");
          }
          else if(result.data === 2){
            console.log("added");
          }
        })
        .catch(function(error){
          console.error(error);
        });
      }
{#to be done#}
    function rejectModal() {
{#      document.getElementById("produto_sucesso").style.visibility = "visible";#}
      modal_check = false;
    }

    function removeItem() {
      $(document).ready(function (){
        var toDelete = document.activeElement.parentNode.parentNode.parentNode.parentNode.parentNode;
        $(toDelete).remove();
{#              axios.post('/remove/item/?id=123')#}
{#                  .then(function (response) {#}
{#                     console.log(response.data);#}
{#                  });#}
      })
    }
    function getUnit(event){
      $(document).ready(function (){
        var unidade = nome_unidade[$("#ingredient_list").val()];
        $("#unidade").text(unidade);
      });
    }





  </script>
{% endblock %}
