{% extends "base.html" %}{% load static %}

{% block css %}

  <link rel="stylesheet" type="text/css" href="/static/css/dist/css_datepicker/bootstrap-datepicker.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/dist/css/bootstrap-select.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/estoque.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/estoque_add_react/main.e24bd026.css"/>

{% endblock %}


{% block loggedin %}
  <li><a>Usuário: {{ request.user.username }}</a></li>
  <li><a href="/logout" style="text-decoration: underline;">Sair</a></li>
{% endblock %}

{% block content %}
  <div class="my_menu">
    <div id="adicionar_message"><h3>Estoque</h3><br/></div>
  </div>
  <div style="margin-bottom: 0" class="my_menu3">
    <div class="alert alert-info">Valor dos Produtos: R$ {{ total }}</div>
  </div>
  <div style="margin: 0 auto 0 auto;" class="my_menu3">
    <div class="alert alert-success"><span style="margin-right: 10px;">Subtotal:</span><span style="margin-left: 10px;">R$ <span id="subtotal">0,00</span></span></div>
  </div>
  <div class="my_menu">
    <form id="stock_form" action="./" onsubmit="return validateForm()">
      {% csrf_token %}
      <div class="my_menu2">
        <div>
          <p>Tipo:</p>
          <div style="margin-bottom: 5px;">
            <select id="ingredient_type" class="selectpicker" title="Selecione o tipo" onchange="getType(event)" name="tipo">
              {% for type in types %}
                <option>{{ type.tipo }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div>
          <p>Ingrediente:</p>
          <div style="margin-bottom: 5px;">
            <select id="ingredient_list" class="selectpicker" title="Selecione o ingrediente" name="ingrediente" onchange="getUnit(event)"> <!-- data-size="x"-->
            </select>
          </div>
        </div>
        <div class="add_flex">
          <div>
            <p>Quantidade:</p>
            <div>
              <div style="margin-bottom: 5px;" class="quantidade_line input-group">
                <input id="quantidade_value" type="text" class="field_sizing form-control" placeholder="Qtd" aria-describedby="basic-addon1" name="quantidade">
              </div>
            </div>
          </div>
          <div>
            <p>Por unidade:</p>
            <div>
              <div id="quantidade" style="margin-bottom: 5px;" class="quantidade_line input-group">
                <input id="quantidade_unidade" type="text" class="field_sizing form-control" placeholder="Qtd" aria-describedby="basic-addon1" name="quantidade">
                <span style="display:flex; align-items: center; width:80px; font-size: 0.8em;" id="unidade"  class="input-group-addon" id="basic-addon2"></span>
              </div>
            </div>
          </div>
        </div>
        <div>
          <p>Valor por unidade:</p>
          <div>
            <div style="margin-bottom: 5px;" class="last_production_line input-group">
              <input id="valor" type="text" class="field_sizing form-control" placeholder="Valor" aria-describedby="basic-addon1" name="valor">
              <button type="submit" class="btn btn-danger" name="button" value="add">Adicionar</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    {#  MODAL  #}
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Confirmar Ingrediente</h4>
          </div>
          <div class="modal-body">
            Deseja adicionar o ingrediente abaixo?<br><br>
            Ingrediente: <span id="ingrediente_modal"></span><br>
            Quantidade: <span id="quantidade_modal"></span><br>
            Unidade: <span id="unidade_modal"></span> {{ ingredient.unidade }}<br/>
            Total: R$ <span id="valor_modal"></span>
          </div>
          <div class="modal-footer">
            <form id="modal_form">
              <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="rejectModal()" value="no">Nao</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="confirmModal()" value="yes">Sim</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    {# END OF MODAL   #}
  </div>
  {# placeholder for react results #}
  <div id="result_list"></div>

{% endblock %}


{% block script %}
  <script src="/static/js/js/bootstrap-select.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.js"></script>
  <script src="/static/js/estoque_add_react/main.2a4afc95.js"></script>
  <script>

    // creates an object with the types as keys and products as values
    var ingredient_list = {
      // takes keys and values from the
      {% for tipo, query in ingredients.items %}
        "{{ tipo }}": [
          {% for ingredient in query %}
            '{{ ingredient.nome }}',
          {% endfor %}
        ],
      {% endfor %}
    };

    var nome_unidade = {
      //
      {% for query in ingredients.values %}
        {% for ingredient in query %}
          "{{ ingredient.nome }}":
          '{{ ingredient.unidade }}',
        {% endfor %}
      {% endfor %}
    };

    function initList (){
      axios.post("/estoque/add/init/")
        .then(function (result) {
          store.dispatch(updateFiltered(result.data.cart, "list"));
          document.getElementById("subtotal").innerHTML = result.data.valor;
        })
        .catch(function (error) {
          console.log(error);
          store.dispatch(updateFiltered([], "fail"))
        })
    }

    initList();

    function getType(event) {
      $(document).ready(function (){
        $("#ingredient_list").children().remove();
        $("#unidade").text(" ");
        var type = ingredient_list[$("#ingredient_type").val()].sort();
        for(var i = 0; i < type.length; i++){
          $("#ingredient_list").append("<option>" + type[i] + "</option>");
          $('.selectpicker').selectpicker('refresh');
        }
      });
    }

    function validateForm() {
      var qtd = document.getElementById("quantidade_value").value;
      var igt = document.getElementById("ingredient_list").value;
      var vlr = document.getElementById("valor").value;
      var und = document.getElementById("quantidade_unidade").value;
      if (qtd && igt && vlr && und){
        $("#stock_form").attr("method", "POST");
        document.getElementById("quantidade_modal").innerHTML = qtd;
        document.getElementById("ingrediente_modal").innerHTML = igt;
        document.getElementById("valor_modal").innerHTML = (parseFloat(vlr.replace(",", ".")) *
        parseFloat(qtd.replace(",", "."))).toFixed(2).toString().replace(".", ",");
        document.getElementById("unidade_modal").innerHTML = und;
        $("#myModal").modal();
      }
      else {
        store.dispatch(updateFiltered([], "add"));
      }
      return false;
    }

    function confirmModal() {
      data = {};
      data["ingrediente"] = document.getElementById("ingredient_list").value;
      data["quantidade"] = document.getElementById("quantidade_value").value;
      data["por_unidade"] = document.getElementById("quantidade_unidade").value;
      data["valor"] = document.getElementById("valor").value;
      $('.selectpicker').selectpicker('val', '');
      document.getElementById("quantidade_value").value = "";
      document.getElementById("quantidade_unidade").value = "";
      document.getElementById("valor").value = "";
      document.getElementById("unidade").value = "";
      axios.post("/estoque/add/", data)
        .then(function(result){
          store.dispatch(updateFiltered(result.data.cart, ""));
          document.getElementById("subtotal").innerHTML = result.data.valor;
        })
        .catch(function(error){
          store.dispatch(updateFiltered([], "fail"));
        });
      }

    function rejectModal() {
      $('.selectpicker').selectpicker('val', '');
      document.getElementById("valor").value = "";
      document.getElementById("quantidade_value").value = "";
      document.getElementById("quantidade_unidade").value = "";
      document.getElementById("unidade").value = "";
      modal_check = false;
    }

    function getUnit(event){
      $(document).ready(function (){
        var unidade = nome_unidade[$("#ingredient_list").val()];
        $("#unidade").text(unidade);
      });
    }

  </script>
{% endblock %}
