{% extends "base.html" %}{% load static %}

{% block css %}

  <link rel="stylesheet" type="text/css" href="/static/css/dist/css_datepicker/bootstrap-datepicker.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/dist/css/bootstrap-select.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/producao.css" />

{% endblock %}


{% block loggedin %}
  <li><a>Usuário: {{ request.user.username }}</a></li>
  <li><a href="/logout" style="text-decoration: underline;">Sair</a></li>
{% endblock %}

{% block content %}
  <div class="my_menu">
    <form id="stock_form" action="./" onsubmit="return validateForm()" method="">
      {% csrf_token %}
      <div class="my_menu2">
        <div>
          <p>Tipo:</p>
          <div style="margin-bottom: 5px;">
            <select id="ingredient_type" class="selectpicker" title="Selecione o tipo" onchange="get_type(event)" name="tipo">
              {% for type in types %}
                <option>{{ type.tipo }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div>
          <p>Produto:</p>
          <div style="margin-bottom: 5px;">
            <select id="ingredient_list" class="selectpicker" title="Selecione o produto" name="ingrediente"> <!-- data-size="x"-->
            </select>
          </div>
        </div>
        <div>
          <p>Quantidade:</p>
          <div>
            <div style="margin-bottom: 5px;" class="last_production_line input-group">
              <input id="quantidade" type="text" class="field_sizing form-control" placeholder="Quantidade" aria-describedby="basic-addon1" name="quantidade">
              <button type="submit" class="btn btn-danger" name="button" value="add">Adicionar</button>
            </div>
          </div>
        </div>
        <div>
          <p>Filtro:</p>
          <div>
            <div style="width: 200px; margin-bottom: 5px;" class="last_production_line input-group">
              <input id="date_field" class="field_sizing form-control datepicker" data-date-format="mm/dd/yyyy" placeholder="Data" data-date-autoclose=true data-date-today-highlight=true name="data_field">
              <button type="submit" class="btn btn-primary" name="button" value="filter">Filtrar</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  {% if success == 2 %}
  <div class="message">
    <div class="alert alert-success" role="alert">Produto adicionado com sucesso</div>
  </div>
  {% elif success == 3 %}
  <div class="message">
    <div class="alert alert-danger" role="alert">Selecione tipo, produto e quantidade</div>
  </div>
  {% elif success == 4 %}
  <div>
    <form name="toDelete" method="POST" onsubmit="return false;">
      {% for i in filtered %}
          <div class="filtered">
            <div class="alert alert-info" role="alert">
              <div style="display: flex;">
                <div class="listing">
                  <p><strong>Produto:</strong></p>
                  <p>{{ i.produto.nome }}</p>
                </div>
                <div class="listing">
                  <p><strong>Quantidade:</strong></p>
                  <p>{{ i.quantidade }}</p>
                </div>
                <div class="listing">
                  <p><strong>Data:</strong></p>
                  <p>{{ i.data}}<button type="submit" class="delete_button glyphicon glyphicon-remove" aria-hidden="true" value={{ i.id }} onclick="removeItem(event)"></button></p>
                </div>
              </div>
            </div>
          </div>
      {% endfor %}
    </form>
  </div>
  {% elif success == 5 %}
    <div class="message">
        <div class="alert alert-danger" role="alert">Nenhum produto encontrado</div>
    </div>
  {% endif %}

{% endblock %}


{% block script %}
  <script src="/static/js/js/bootstrap-select.min.js"></script>
  <script src="/static/js/js_datepicker/bootstrap-datepicker.min.js"></script>
  <script>
      $('.datepicker').datepicker();
      // creates an object with the types as keys and products as values
      var ingredient_list = {
          // takes keys and values from the
          {% for tipo, query in ingredients.items %}
              "{{ tipo }}": [
                  {% for ingredient in query %}
                      '{{ ingredient.nome }}',
                  {% endfor %}
              ],
          {% endfor %}
      };

      function get_type(event) {
          $(document).ready(function (){
              $("#ingredient_list").children().remove();
              var type = ingredient_list[$("#ingredient_type").val()];
              for(var i = 0; i < type.length; i++){
                  $("#ingredient_list").append("<option>" + type[i] + "</option>");
                  $('.selectpicker').selectpicker('refresh');
              }
          });
      }

      function validateForm() {
          var check = document.activeElement.value;
          // var list = ["Tipo", "Produto", "Quantidade", "Data"];
          var missing = false;
          if (check === "add"){
              var qtd = document.getElementById("quantidade").value;
              var pdt = document.getElementById("ingredient_list").value;
              var confirmProduct = confirm("Você deseja adicionar o produto abaixo?\nProduto: " + pdt + "\nQuantidade: " + qtd);
              if (confirmProduct){
                  $("#stock_form").attr("method", "POST");
                  return true;
              }
              else{
                  return false;
              }
          }
          else if (check === "filter"){
              $("#stock_form").attr("method", "GET");
              return true;
          }
      }
      function removeItem() {
          $(document).ready(function (){
              var toDelete = document.activeElement.parentNode.parentNode.parentNode.parentNode.parentNode;
              $(toDelete).remove();
{#              axios.post('/remove/item/?id=123')#}
{#                  .then(function (response) {#}
{#                     console.log(response.data);#}
{#                  });#}
          })
      }





  </script>
{% endblock %}
