{% extends "base.html" %}{% load static %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="/static/css/dist/css_datepicker/bootstrap-datepicker.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/dist/css/bootstrap-select.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/adicionar_cliente.css" />

{% endblock %}


{% block loggedin %}
  <li><a>Usuário: {{ request.user.username }}</a></li>
  <li><a href="/logout" style="text-decoration: underline;">Sair</a></li>
{% endblock %}

{% block content %}
  <div class="my_menu">
    <div id="adicionar_message"><h3>Finalizar Pedido</h3></div>
  </div>
  <div style="margin-bottom: 0" class="my_menu2">
    <div class="alert alert-info">Cliente: <span id="user"></span></div>
  </div>
  <div class="my_menu2">
    <p>Delivery:</p>
    <div style="display: flex; justify-content: space-between;" class="input-group">
      <form id="delivery">
        <label class="radio-inline"><input type="radio" name="delivery" value="True" onchange="updateDelivery()">Sim</label>
        <label class="radio-inline"><input type="radio" name="delivery" value="False" onchange="updateDelivery()">Não</label>
      </form>
    </div>
  </div>
  <div class="my_menu2">
    <div style="width: 100%; display: flex; justify-content: space-between;">
      <p>Data de entrega:</p>
      <form>
        <input style="width:120px;" id="date_field" class="field_sizing form-control datepicker" data-date-format="mm/dd/yyyy" placeholder="Data" data-date-autoclose=true data-date-today-highlight=true name="data_field">
      </form>
    </div>
  </div>
  <div style="margin: 20px auto 0 auto;" class="my_menu2">
    <div class="alert alert-success"><span style="margin-right: 10px;">Subtotal</span><span style="margin-left: 10px;">R$ <span id="subtotal"></span></span></div>
  </div>
  <div class="my_menu2">
    <h5>Detalhes do pedido:</h5>
  </div>
  <div>
{#    {% if success == 3 %}#}
{#      <div class="my_menu2">#}
{#        <div style="margin-top: 20px;" class="alert alert-danger">Preencha todos os campos</div>#}
{#      </div>#}
{#    {% endif %}#}

{#    <form name="toDelete" method="POST" onsubmit="return false;">#}
{#      {% for i in cart %}#}
{#        <div class="filtered">#}
{#          <div class="alert alert-info" role="alert">#}
{#            <div style="display: flex;">#}
{#              <div class="listing">#}
{#                <p><strong>Produto:</strong></p>#}
{#                <p>{{ i.produto|title }}</p>#}
{#              </div>#}
{#              <div class="listing">#}
{#                <p><strong>Quantidade:</strong></p>#}
{#                <p style="padding-left:50px;">{{ i.quantity }}<button type="submit" style="float: right" class="glyphicon glyphicon-remove" aria-hidden="true" value={{ i.id }} onclick="removeItem(event)"></button></p>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      {% endfor %}#}
{#    </form>#}
    <form method="POST" action="/finalizar_pedido/">
      <div class="my_menu2">
        <button type="submit" class="btn btn-danger" name="button" value="add">Finalizar pedido</button>
      </div>
    </form>
  </div>
{% endblock %}


{% block script %}
  <script src="/static/js/js/bootstrap-select.min.js"></script>
  <script src="/static/js/js_datepicker/bootstrap-datepicker.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.js"></script>
  <script>
    $('.datepicker').datepicker();
    // creates an object with the types as keys and products as values
    document.getElementById("user").innerHTML = sessionStorage.getItem("client_name");
    function updateDelivery(){
      var data = {};
      data["delivery"] = document.activeElement.value;
      axios.post("/finalizar_pedido/delivery/", data)
        .then(function(result){
          if(result.data === 3){
            console.log("not added");
          }
          else if(result.data === 2){
            console.log("added");
          }
        })
        .catch(function(error){
          console.error(error);
        });
    }

    function get_type(event) {
      $(document).ready(function (){
        $("#product_list").children().remove();
        var type = product_list[$("#product_type").val()].sort();
        for(var i = 0; i < type.length; i++){
          $("#product_list").append("<option>" + type[i] + "</option>");
          $('.selectpicker').selectpicker('refresh');
        }
      });
    }

    function validateForm() {
      var check = document.activeElement.value;
      // var list = ["Tipo", "Produto", "Quantidade", "Data"];
      var missing = false;
      if (check === "add"){
        var qtd = document.getElementById("quantidade").value;
        var pdt = document.getElementById("product_list").value;
        var confirmProduct = confirm("Você deseja adicionar o produto abaixo?\nProduto: " + pdt + "\nQuantidade: " + qtd);
        if (confirmProduct){
          $("#producao_form").attr("method", "POST");
          return true;
        }
        else{
          return false;
        }
      }
      else if (check === "filter"){
        $("#producao_form").attr("method", "GET");
        return true;
      }
    }
    function removeItem() {
      $(document).ready(function (){
        var toDelete = document.activeElement.parentNode.parentNode.parentNode.parentNode.parentNode;
        $(toDelete).remove();
{#              axios.post('/remove/item/?id=123')#}
{#                  .then(function (response) {#}
{#                     console.log(response.data);#}
{#                  });#}
      })
    }




  </script>
{% endblock %}
