{% extends "base.html" %}{% load static %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="/static/css/dist/css_datepicker/bootstrap-datepicker.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/adicionar_cliente.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/finalizar_pedido_react/main.1f83477e.css"/>

{% endblock %}


{% block loggedin %}
  <li><a>Usuário: {{ request.user.username }}</a></li>
  <li><a href="/logout" style="text-decoration: underline;">Sair</a></li>
{% endblock %}

{% block content %}
  <div class="my_menu">
    <div id="adicionar_message"><h3>Finalizar Pedido</h3></div>
  </div>
  <div style="margin-bottom: 0" class="my_menu2">
    <div class="alert alert-info">Cliente: {{ cliente.nome | title}}</div>
  </div>
  <div class="my_menu2">
    <p>Delivery:</p>
    <div style="display: flex; justify-content: space-between;" class="input-group">
      <form id="delivery">
        <label class="radio-inline"><input type="radio" name="delivery" value="True" onchange="updateDelivery()">Sim</label>
        <label class="radio-inline"><input type="radio" name="delivery" value="False" onchange="updateDelivery()">Não</label>
      </form>
    </div>
  </div>
  <div id="delivery_field" class="my_menu2" style="display: none; margin-bottom: 20px">
    <div style="width: 100%; display: flex; justify-content: space-between;">
      <p>Valor Delivery:</p>
      <span style="display: inline">R$ <input style="width:60px; display: inline" id="delivery_valor" class="field_sizing form-control" placeholder="0,00" onkeypress='return event.charCode === 44 || (event.charCode >= 48 && event.charCode <= 57)' name="delivery_value" onblur="deliveryValue()" value="0,00"></span>
    </div>
  </div>
  <div class="my_menu2">
    <div style="width: 100%; display: flex; justify-content: space-between;">
      <p>Data de entrega:</p>
      <input style="width:120px;" id="date_field" class="field_sizing form-control datepicker" data-date-format="dd/mm/yyyy" placeholder="Data" data-date-autoclose=true data-date-today-highlight=true name="data_field">
    </div>
  </div>
  <div style="margin: 20px auto 0 auto;" class="my_menu2">
    <div class="alert alert-success"><span style="margin-right: 10px;">Subtotal:</span><span style="margin-left: 10px;">R$ <span id="subtotal">{% load display_decimals %}{{ subtotal|display_decimals }}</span></span></div>
  </div>
  <div class="my_menu2">
    <h5>Detalhes do pedido:</h5>
  </div>
  {# placeholder for react results #}
  <div id="result_list"></div>
{% endblock %}


{% block script %}
  <script src="/static/js/js_datepicker/bootstrap-datepicker.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.js"></script>
  <script src="/static/js/finalizar_pedido_react/main.2fa10de0.js"></script>
  <script>
    $('.datepicker').datepicker();
    // creates an object with the types as keys and products as values

    function subTotal(value){
      document.getElementById("subtotal").innerHTML = value;
    }

    function initList (){
      axios.post("/finalizar_pedido/init/")
        .then(function (result) {
          store.dispatch(updateFiltered(result.data.cart, "list"));
        })
        .catch(function (error) {
          console.log(error);
          store.dispatch(updateFiltered([], "fail"))
        })
    }

    initList();

    function updateDelivery() {
      var show = document.getElementById("delivery_field");
      if (document.activeElement.value === "True") {
        show.style.display = "block";
        window.boolean = document.activeElement.value;
        deliveryValue();
        document.getElementById("delivery_valor").value = "";
      } else {
        show.style.display = "none";
        document.getElementById("delivery_valor").value = "0,00";
        window.boolean = document.activeElement.value;
        deliveryValue();
      }
    }

    function deliveryValue(){
      var data = {valor: document.getElementById("delivery_valor").value, boolean: boolean};
      axios.post("/finalizar_pedido/delivery/update/", data)
        .then(function(result){
          subTotal(result.data.valor);
        })
        .catch(function(error){
          console.error(error);
        })
    }

  </script>
{% endblock %}
