{% extends "base.html" %}{% load static %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="/static/css/dist/css_datepicker/bootstrap-datepicker.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/dist/css/bootstrap-select.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/pedidos_detalhe.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/finalizar_pedido_react/main.1f83477e.css"/>

{% endblock %}


{% block loggedin %}
  <li><a>Usuário: {{ request.user.username }}</a></li>
  <li><a href="/logout" style="text-decoration: underline;">Sair</a></li>
{% endblock %}

{% block content %}
  <div class="my_menu">
    <div id="adicionar_message"><h3>Detalhes do Pedido</h3></div>
  </div>
  <br/>
  <div>
    <div class="my_menu2">
      <p>Nome:</p><p>{{ pedido.cliente.nome | title}}</p>
    </div>
    <div class="my_menu2">
      <p>Telefone:</p><p>{{ pedido.cliente.telefone}}</p>
    </div>
    <div class="my_menu2">
      <p>Data para entrega:</p><span>{{ pedido.data_entrega | date:"d/m/Y" }}</span>
    </div>
    <div class="my_menu2">
      <p>Entregue:</p><span id="entregue">{% if pedido.entregue %}<p>Entregue</p>{% else %}<p>Não Entregue</p>{% endif %}</span>
    </div>
    <div class="my_menu2">
      <p>Valor:</p><span>R$ <span id="valor">{% load display_decimals %}{{ pedido.total|display_decimals }}</span></span>
    </div>
    <div class="my_menu2">
      <p>A pagar:</p><span>R$ <span id="debito">{{ pedido.debito|display_decimals }}</span></span>
    </div>
    <br/>
{#    <div class="my_menu2">#}
{#      <button type="submit" class="btn btn-primary">Atualizar Pedido</button>#}
{#    </div>#}
  </div>
  {# placeholder for react results #}
  <div id="result_list"></div>

{% endblock %}


{% block script %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.js"></script>
  <script src="/static/js/pedidos_detalhe_react/main.524b9906.js"></script>
  <script>
    function initPedidos(){
      var data = {id: {{ pedido.id }}};
      axios.post("/pedidos/detalhe/list/", data)
        .then (function (result){
          console.log(result.data.info);
          store.dispatch(updateFiltered(result.data.list, result.data.info, ""))
        })
        .catch (function (error){
          store.dispatch(updateFiltered([], "fail"))
        })
    }

    initPedidos();








  </script>
{% endblock %}
