{% extends "base.html" %}{% load static %}


{% block loggedin %}
  <li><a>Usuário: {{ request.user.username }}</a></li>
  <li><a href="/logout" style="text-decoration: underline;">Sair</a></li>
{% endblock %}

{% block content %}
<div id="buttons">
  <form action="/pedidos/">
    <button type="submit" class="main_buttons" value="novo_pedido">Pedidos</button>
  </form>
  <form action="/producao/">
    <button type="button" class="main_buttons" value="pedidos">Produção</button>
  </form>
  <form action="/estoque/">
    <button type="button" class="main_buttons" value="estoque">Estoque</button>
  </form>
  <form action="/receitas/">
    <button type="button" class="main_buttons" value="receitas">Receitas</button>
  </form>
  <form action="/historico/">
    <button type="button" class="main_buttons" value="historico">Histórico</button>
  </form>
  <form action="/balanco/">
    <button type="button" class="main_buttons" value="historico">Balanço</button>
  </form>
</div>


{% endblock %}
