{% extends "base.html" %}{% load static %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="/static/css/dist/css_datepicker/bootstrap-datepicker.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/adicionar_cliente.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/finalizar_pedido_react/main.1f83477e.css"/>

{% endblock %}


{% block loggedin %}
  <li><a>Usuário: {{ request.user.username }}</a></li>
  <li><a href="/logout" style="text-decoration: underline;">Sair</a></li>
{% endblock %}

{% block content %}
  <div class="my_menu">
    <div id="adicionar_message"><h3>Pedidos</h3></div>
  </div>
  <div class="my_menu2">
    <a href="/escolher_cliente"><button style="margin: 5px 0 5px 0;" class="btn btn-danger btn-block">Criar pedido</button></a>
  </div>
  <form onsubmit="return validateForm()">
    <div style="text-align: center;" class="my_menu2">
      <h4>Filtrar por:</h4>
    </div>
    <div class="my_menu2">
      <div class="long-field input-group">
        <p>Nome Completo:</p>
        <input id="nome" type="text" class="field_sizing form-control" placeholder="Nome Completo" aria-describedby="basic-addon1" name="nome">
      </div>
    </div>
    <div class="my_menu2">
      <div class="input-group">
        <p>Telefone:</p>
        <input id="telefone" style="width:140px;" type="text" class="field_sizing form-control" placeholder="Telefone" aria-describedby="basic-addon1" name="telefone" onkeypress='return event.charCode >= 48 && event.charCode <= 57' onchange="brPhoneStyle(event)">
      </div>
      <div style="width:120px;">
        <p>Data:</p>
        <input id="date_field" class="field_sizing form-control datepicker" data-date-format="dd/mm/yyyy" placeholder="Data" data-date-autoclose=true data-date-today-highlight=true name="data_field">
      </div>
    </div>
    <div style="margin-top: 20px;" class="my_menu2">
      <p style="margin-bottom: 15px;">Status:</p>
      <div style="display: flex; justify-content: space-between;" class="input-group">
        <label class="radio-inline"><input type="radio" name="status" value="True">Entregue</label>
        <label class="radio-inline"><input type="radio" name="status" value="False">Não Entregue</label>
      </div>
    </div>
    <div class="my_menu2">
      <p>Pagamento:</p>
      <div style="display: flex; justify-content: space-between;" class="input-group">
        <label class="radio-inline"><input type="radio" name="pago" value="True">Pago</label>
        <label class="radio-inline"><input type="radio" name="pago" value="False">Não Pago</label>
      </div>
    </div>
    <div class="my_menu2">
      <button type="submit" class="btn btn-primary" name="button" value="filter">Visualizar pedidos</button>
    </div>
  </form>
  {# placeholder for react results #}
  <div id="result_list"></div>
{% endblock %}


{% block script %}
  <script src="/static/js/js_datepicker/bootstrap-datepicker.min.js"></script>
  <script src="/static/js/pedidos_react/main.03455140.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.js"></script>
  <script>
    $('.datepicker').datepicker();
    // creates an object with the types as keys and products as values

    function brPhoneStyle(event){
      var input = document.getElementById("telefone").value.replace(/\D/g, "");
      console.log(input);
      if(input.length === 10){
        document.getElementById("telefone").value = "(" + input.slice(0,2) + ")" + input.slice(2,6) + "-" + input.slice(-4);
      }
      else if(input.length === 11){
        document.getElementById("telefone").value = "(" + input.slice(0,2) + ")" + input.slice(2,7) + "-" + input.slice(-4);
      }else{
        document.getElementById("telefone").value = "";
      }
    }

    function validateForm() {
      var data = {};
      data.nome = document.getElementById("nome").value;
      data.telefone = document.getElementById("telefone").value;
      data.data_field = document.getElementById("date_field").value;
      try{
        data.status = document.querySelector('input[name="status"]:checked').value;
      }
      catch (e){
        data.status = "";
      }
      try{
        data.pagamento = document.querySelector('input[name="pago"]:checked').value;
      }
      catch (e){
        data.pagamento = "";
      }
      if (data.nome || data.telefone || data.data_field || data.status || data.pagamento){
        try{
          document.querySelector('input[name="pago"]:checked').checked = false;
        }
        catch (e){}
        try{
          document.querySelector('input[name="status"]:checked').checked = false;
        }
        catch (e){}
        document.getElementById("nome").value = "";
        document.getElementById("telefone").value = "";
        document.getElementById("date_field").value = "";
        axios.post("/pedidos/filter/", data)
          .then(function(result){
            if (result.data.length > 0){
              store.dispatch(updateFiltered(result.data, "list"))
            }
            else{
              store.dispatch(updateFiltered([], "empty"))
            }
          })
          .catch(function(e){
            store.dispatch(updateFiltered([], "fail"))
          })
      }
      else {
        store.dispatch(updateFiltered([], "add"));
      }
      return false;
    }

  </script>
{% endblock %}
