{% extends "base.html" %}{% load static %}


{% block loggedin %}
  <li><a>Usuário: {{ request.user.username }}</a></li>
  <li><a href="/logout" style="text-decoration: underline;">Sair</a></li>
{% endblock %}

{% block content %}
  <div class="my_menu">
    <div class="my_menu2">
      <div>
        <p>Tipo:</p>
        <div style="margin-bottom: 5px;">
          <select id="product_type" class="selectpicker" title="Selecione o tipo" onchange="get_type(event)">
            {% for type in types %}
            <option>{{ type.tipo }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div>
        <p>Produto:</p>
        <div style="margin-bottom: 5px;">
          <select id="product_list" class="selectpicker" title="Selecione o produto"> <!-- data-size="x"-->
          </select>
        </div>
      </div>
      <div>
        <p>Quantidade:</p>
        <div>
          <div id="last_production_line" class="input-group">
            <input id="quantidade" type="text" class="form-control" placeholder="Quantidade" aria-describedby="basic-addon1">
            <button type="button" class="btn btn-danger">Adicionar</button>
          </div>
        </div>
      </div>
      <div>
        <p>Filtro:</p>
        <div>
          <div id="last_production_line" class="input-group">
            <input class="datepicker" data-date-format="mm/dd/yyyy">
            <button type="button" class="btn btn-danger">Filtrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}

{% block script %}
  <script>
    $('.datepicker').datepicker();
    // creates an object with the types as keys and products as values
    var product_list = {
      // takes keys and values from the
      {% for tipo, query in products.items %}
      "{{ tipo }}": [
      {% for produto in query %}
      '{{ produto.nome }}',
      {% endfor %}
    ],
      {% endfor %}
    };
    function get_type(event) {
      $(document).ready(function (){
        $("#product_list").children().remove();
        console.log("test");
        var type = product_list[$("#product_type").val()];
        console.log(type);
        for(var i = 0; i < type.length; i++){
          console.log(type[i]);
          $("#product_list").append("<option>" + type[i] + "</option>");
          $('.selectpicker').selectpicker('refresh');
        }
      });
    }



  </script>
{% endblock %}
