select {
  text-align: center;
}

.last_production_line.input-group .field_sizing.form-control {
  width: 100px;
  display: inline-block;
}

.last_production_line.input-group {
  width: 220px;
  display: flex;
  justify-content: space-between;
}

.my_menu {
  display: flex;
  justify-content: center;
}

.my_menu2 > div {
  margin: 0 10px;
}

.filtered {
  width: 300px;
  margin: 20px auto;
}

.listing {
  text-align: left;
  width: 100px;
  font-size: 0.8em;
}

@media screen and (min-width: 780px) {
  .my_menu2 > div {
    display: inline-block;
  }
  .filtered {
    width: 600px;
    margin: 20px auto;
    text-align: center;
  }
  .listing {
    text-align: left;
    width: 200px;
    font-size: 1em;
  }
  .delete_button {
    margin-left: 50px;"
  }
}

.message {
  width: 300px;
  margin: 30px auto;
  text-align: center;
}


